@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Color de fondo en blanco */
  --background-end-rgb: 255, 255, 255; /* Color de fondo en blanco */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255; /* Color de fondo en blanco */
    --background-end-rgb: 255, 255, 255; /* Color de fondo en blanco */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply font-bebas-neue text-4xl;
  }

  h2 {
    @apply font-bebas-neue text-[2rem] leading-9;
  }

  h3 {
    @apply font-bebas-neue text-[1.75rem] leading-8;
  }
}

@layer components {

  /* ===== TYPOGRAPHY ==== */

  /* LARGE */
  .text-large-regular {
    @apply font-montserrat font-normal text-[21px] leading-7;
  }

  .text-large-medium {
    @apply font-montserrat font-medium text-[21px] leading-7;
  }

  .text-large-bold {
    @apply font-montserrat font-bold text-[21px] leading-7;
  }

  /* BASE */
  .text-base-regular {
    @apply font-montserrat font-normal text-base;
  }

  .text-base-medium {
    @apply font-montserrat font-medium text-base;
  }

  .text-base-bold {
    @apply font-montserrat font-bold text-base;
  }

  /* SMALL */
  .text-small-regular {
    @apply font-montserrat font-normal text-[12px] leading-5;
  }

  .text-small-medium {
    @apply font-montserrat font-medium text-[12px] leading-5;
  }

  .text-small-bold {
    @apply font-montserrat font-bold text-[12px] leading-5;
  }
}